pipeline/BULK LOAD FILES.json
{
	"name": "BULK LOAD FILES",
	"properties": {
		"activities": [
			{
				"name": "Get Next Input File",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spS_GetNextBulkFile_OPS]",
						"storedProcedureParameters": {
							"nThreadID": {
								"type": "Int32",
								"value": {
									"value": "@int(pipeline().parameters.ThreadID)",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OPS_LIST",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "FileID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Next Input File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileID",
					"value": {
						"value": "@string(activity('Get Next Input File').output.firstRow.FileID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Next Input File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@activity('Get Next Input File').output.firstRow.FileLoc",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Table Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Valid File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": {
						"value": "@concat('rawAGG_OP_',string(pipeline().parameters.ThreadID))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Table Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "TRUNCATE TABLE @{variables('TableName')}",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": true,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CSV_DataStore_AnyKey",
						"type": "DatasetReference",
						"parameters": {
							"Container": "blob",
							"Directory": "XX",
							"FileName": {
								"value": "@variables('FileName')",
								"type": "Expression"
							},
							"LinkedServiceConnectionSecret": "StorageConnectionString"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ASQL_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": {
								"value": "@variables('TableName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "BAD FILE",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spU_SetAGGBulkLoad_OPS]",
					"storedProcedureParameters": {
						"nID": {
							"value": {
								"value": "@int(variables('FileID'))",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"nTotalChanged": {
							"value": "0",
							"type": "Int32"
						},
						"nTotalRows": {
							"value": "0",
							"type": "Int32"
						},
						"StatusMessage": {
							"value": {
								"value": "@concat('ERROR: FAILED TO BULK LOAD ',activity('Copy data1').Error.message)",
								"type": "Expression"
							},
							"type": "String"
						},
						"SuccessFlag": {
							"value": "0",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF010123",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Process File",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spI_ProcessOPSData]",
						"storedProcedureParameters": {
							"DEBUG": {
								"type": "Boolean",
								"value": "false"
							},
							"nThreadID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ThreadID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OPS_LIST",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "RawCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Process File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RawCount",
					"value": {
						"value": "@string(activity('Process File').output.firstRow.RawCount)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FactCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Process File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FactCount",
					"value": {
						"value": "@string(activity('Process File').output.firstRow.FactCount)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Finsish File",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FactCount",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "RawCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spU_SetAGGBulkLoad_OPS]",
					"storedProcedureParameters": {
						"nID": {
							"value": {
								"value": "@int(variables('FileID'))",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"nTotalChanged": {
							"value": {
								"value": "@int(variables('FactCount'))",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"nTotalRows": {
							"value": {
								"value": "@int(variables('RawCount'))",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"StatusMessage": {
							"value": "SUCCESS",
							"type": "String"
						},
						"SuccessFlag": {
							"value": {
								"value": "@int('1')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF010123",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Valid File",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "FileID",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('FileID')),0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RawCount",
								"value": {
									"value": "@string(div(1,0))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "FailWait",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Valid File",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"parameters": {
			"MasterPackageID": {
				"type": "string",
				"defaultValue": "-1"
			},
			"ThreadID": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"variables": {
			"IsRunning": {
				"type": "String",
				"defaultValue": "0"
			},
			"FileName": {
				"type": "String"
			},
			"FileID": {
				"type": "String",
				"defaultValue": "-1"
			},
			"TableName": {
				"type": "String"
			},
			"RawCount": {
				"type": "String",
				"defaultValue": "0"
			},
			"FactCount": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "AGGDW"
		},
		"annotations": []
	}
}