pipeline/BULK LOAD FILES.json
{
	"name": "BULK LOAD FILES",
	"properties": {
		"activities": [
			{
				"name": "Get Next Input File",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spS_GetNextBulkFile_OPS]",
						"storedProcedureParameters": {
							"nThreadID": {
								"type": "Int32",
								"value": {
									"value": "@int(pipeline().parameters.ThreadID)",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OPS_LIST",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "FileID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Next Input File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileID",
					"value": {
						"value": "@string(activity('Get Next Input File').output.firstRow.FileID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Next Input File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@activity('Get Next Input File').output.firstRow.FileLoc",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"MasterPackageID": {
				"type": "string",
				"defaultValue": "-1"
			},
			"ThreadID": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"variables": {
			"IsRunning": {
				"type": "String",
				"defaultValue": "0"
			},
			"FileName": {
				"type": "String"
			},
			"FileID": {
				"type": "String",
				"defaultValue": "-1"
			}
		},
		"folder": {
			"name": "AGGDW"
		},
		"annotations": []
	}
}