pipeline/FileLoad.json
{
	"name": "FileLoad",
	"properties": {
		"activities": [
			{
				"name": "FileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Next File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@activity('Get Next File').output.firstRow.FilePath",
						"type": "Expression"
					}
				}
			},
			{
				"name": "File Number",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Next File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileId",
					"value": {
						"value": "@activity('Get Next File').output.firstRow.FileID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Next File",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "TRUNCATE TABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spS_GetNextInputFile]",
						"storedProcedureParameters": {
							"MasterID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.MasterPipelineID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CFBDatabase",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Good File",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "File Number",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('FileId'), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "PipelineReturnValue",
								"value": 0
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Load Raw File",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Id",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Season",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Season",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Week",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Week",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Season Type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SeasonType",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Start Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "StartDate",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Start Time Tbd",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "StartTime Tbd",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Completed",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Completed",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Neutral Site",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "NeutralSite",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Conference Game",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ConferenceGame",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Attendance",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Attendance",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Venue Id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "VenueId",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Venue",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Venue",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Home Id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "HomeId",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Home Team",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "HomeTeam",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Home Conference",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "HomeConference",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Home Division",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "HomeDivision",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Home Points",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "HomePoints",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Home Line Scores[0]",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "HomeLineScores0 ",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Home Line Scores[1]",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "HomeLineScores1 ",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Home Line Scores[2]",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "HomeLineScores2 ",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Home Line Scores[3]",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "HomeLineScores3 ",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Home Post Win Prob",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "HomePostWinProb",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Home Pregame Elo",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "HomePregameElo",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Home Postgame Elo",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "HomePostgameElo",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Away Id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AwayId",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Away Team",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AwayTeam",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Away Conference",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AwayConference",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Away Division",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AwayDivision",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Away Points",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AwayPoints",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Away Line Scores[0]",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AwayLineScores0 ",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Away Line Scores[1]",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AwayLineScores1 ",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Away Line Scores[2]",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AwayLineScores2 ",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Away Line Scores[3]",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AwayLineScores3 ",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Away Post Win Prob",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AwayPostWinProb",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Away Pregame Elo",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AwayPregameElo",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Away Postgame Elo",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AwayPostgameElo",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Excitement Index",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ExcitementIndex",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Highlights",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Highlights",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Notes",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Notes",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CFB_CSV",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@variables('FileName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CFBDatabase",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "FinishLoad",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetRowCount",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spU_FinishFileLoad]",
								"storedProcedureParameters": {
									"nID": {
										"value": {
											"value": "@variables('FileId')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"nTotalRows": {
										"value": {
											"value": "@variables('RowCount')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StatusMessage": {
										"value": "SUCCESS",
										"type": "String"
									},
									"SuccessFlag": {
										"value": "1",
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "CFBDataConn",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "FAIL Finish Load",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load Raw File",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spU_FinishFileLoad]",
								"storedProcedureParameters": {
									"nID": {
										"value": {
											"value": "@variables('FileId')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"nTotalRows": {
										"value": "0",
										"type": "Int32"
									},
									"StatusMessage": {
										"value": "FAILED",
										"type": "String"
									},
									"SuccessFlag": {
										"value": "0",
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "CFBDataConn",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set FAIL Return",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "FAIL Finish Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "PipelineReturnValue",
								"value": 0
							}
						},
						{
							"name": "Set SUCCESS return",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "FinishLoad",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "PipelineReturnValue",
								"value": 1
							}
						},
						{
							"name": "GetRowCount",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Load Raw File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "RowCount",
								"value": {
									"value": "@activity('Load Raw File').output.rowsCopied",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "TRUNCATE TABLE",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "CFBDataConn",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": "TRUNCATE TABLE dbo.rawCFB"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Return to Main",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Good File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "PipelineReturnValue",
							"value": {
								"type": "Expression",
								"content": "@variables('PipelineReturnValue')"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"MasterPipelineID": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"variables": {
			"FileName": {
				"type": "String"
			},
			"FileId": {
				"type": "Integer",
				"defaultValue": -1
			},
			"RowCount": {
				"type": "Integer",
				"defaultValue": 0
			},
			"PipelineReturnValue": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"folder": {
			"name": "CFB"
		},
		"annotations": []
	}
}