pipeline/Get Files From API.json
{
	"name": "Get Files From API",
	"properties": {
		"activities": [
			{
				"name": "Get Next File",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spS_GetNextAggOPSFile]",
						"storedProcedureParameters": {
							"MasterPackageControlID": {
								"type": "Int32",
								"value": {
									"value": "@int(pipeline().parameters.MasterPackageID)",
									"type": "Expression"
								}
							},
							"ThreadID": {
								"type": "Int32",
								"value": {
									"value": "@int(pipeline().parameters.ThreadID)",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OPS_LIST",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "FromYear",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Next File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FromYear",
					"value": {
						"value": "@string(activity('Get Next File').output.firstRow.FromYear)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FileID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Next File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileID",
					"value": {
						"value": "@string(activity('Get Next File').output.firstRow.FileID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Build URL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FromYear",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "FileID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "APIURL",
					"value": {
						"value": "@concat('http://quickstats.nass.usda.gov/api/api_GET/?key=B440FAAD-2281-333E-BA7D-62CD2B68B6CD&source_desc=SURVEY&sector_desc=ECONOMICS&commodity_desc=FARM OPERATIONS&agg_level_desc=STATE&year=', variables('FromYear'),'&format=csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Build URL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@less(int(variables('FileID')),0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "GET API DATA",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SET FILE NAME",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AGG_OPS_API_DATA",
									"type": "DatasetReference",
									"parameters": {
										"PARAM_URL": {
											"value": "@variables('APIURL')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AGG_CSV",
									"type": "DatasetReference",
									"parameters": {
										"PARAM_FILENAME": {
											"value": "@variables('FileName')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "CLOSE_FILE_SUCCESS",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GET API DATA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spU_SetAGG_OPSFileComplete]",
								"storedProcedureParameters": {
									"nID": {
										"value": {
											"value": "@int(variables('FileID'))",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StatusMessage": {
										"value": "SUCCESS",
										"type": "String"
									},
									"SuccessFlag": {
										"value": "1",
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ADF010123",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "CLOSE FILE FAULURE",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GET API DATA",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spU_SetAGG_OPSFileComplete]",
								"storedProcedureParameters": {
									"nID": {
										"value": {
											"value": "@int(variables('FileID'))",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StatusMessage": {
										"value": "API CALL FAILED",
										"type": "String"
									},
									"SuccessFlag": {
										"value": "0",
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ADF010123",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SET FILE NAME",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileName",
								"value": {
									"value": "@concat('AGG_OPS_', variables('FromYear'),',CSV')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Add FileName to Queue",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GET API DATA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spI_AddNewFileImport_OPS]",
								"storedProcedureParameters": {
									"FileLoc": {
										"value": {
											"value": "@variables('FileName')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ADF010123",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spU_UpdateMasterPackageControl]",
								"storedProcedureParameters": {
									"ID": {
										"value": {
											"value": "@int(pipeline().parameters.MasterPackageID)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"IsRunning": {
										"value": "false",
										"type": "Boolean"
									},
									"StatusMessage": {
										"value": "ALL FILES PROCESSED",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ADF010123",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"MasterPackageID": {
				"type": "string",
				"defaultValue": "-1"
			},
			"ThreadID": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"FromYear": {
				"type": "String",
				"defaultValue": "2019"
			},
			"FileID": {
				"type": "String",
				"defaultValue": "-1"
			},
			"APIURL": {
				"type": "String"
			},
			"FileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "AGGDW"
		},
		"annotations": []
	}
}