pipeline/Get Files From API.json
{
	"name": "Get Files From API",
	"properties": {
		"activities": [
			{
				"name": "Get Next File",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spS_GetNextAggOPSFile]",
						"storedProcedureParameters": {
							"MasterPackageControlID": {
								"type": "Int32",
								"value": {
									"value": "@int(pipeline().parameters.MasterPackageID)",
									"type": "Expression"
								}
							},
							"ThreadID": {
								"type": "Int32",
								"value": {
									"value": "@int(pipeline().parameters.ThreadID)",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OPS_LIST",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "FromYear",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Next File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FromYear",
					"value": {
						"value": "@string(activity('Get Next File').output.firstRow.FromYear)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FileID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Next File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileID",
					"value": {
						"value": "@string(activity('Get Next File').output.firstRow.FileID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FromYear",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "FileID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "APIURL",
					"value": {
						"value": "@concat('http://quickstats.nass.usda.gov/api/api_GET/?key=B440FAAD-2281-333E-BA7D-62CD2B68B6CD&source_desc=SURVEY&sector_desc=ECONOMICS&commodity_desc=FARM OPERATIONS&agg_level_desc=STATE&year=', variables('FromYear'),'&format=csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AGG_OPS_API_DATA",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_URL": {
								"value": "@variables('APIURL')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"MasterPackageID": {
				"type": "string",
				"defaultValue": "-1"
			},
			"ThreadID": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"FromYear": {
				"type": "String",
				"defaultValue": "2019"
			},
			"FileID": {
				"type": "String",
				"defaultValue": "-1"
			},
			"APIURL": {
				"type": "String"
			}
		},
		"folder": {
			"name": "AGGDW"
		},
		"annotations": []
	}
}