pipeline/LoadAggData.json
{
	"name": "LoadAggData",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetOPs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetOPs').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "FinishProc",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetAPIData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spU_SetAGG_OPSFileComplete]",
								"storedProcedureParameters": {
									"nID": {
										"value": {
											"value": "@item().FileID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StatusMessage": {
										"value": "\"SUCCESS\"",
										"type": "String"
									},
									"SuccessFlag": {
										"value": "1",
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ADF010123",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "GetAPIData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AGG_DATA",
									"type": "DatasetReference",
									"parameters": {
										"param_BASEURL": {
											"value": "api/api_GET/?key=B440FAAD-2281-333E-BA7D-62CD2B68B6CD&source_desc=SURVEY&sector_desc=ECONOMICS&commodity_desc=FARM OPERATIONS&agg_level_desc=STATE&year=2020",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AGG_CSV",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "GetOPs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spS_GetOPsList]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OPS_LIST",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	}
}