pipeline/MainLoad.json
{
	"name": "MainLoad",
	"properties": {
		"activities": [
			{
				"name": "Do File",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FileLoad",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"MasterPipelineID": 44
					}
				}
			},
			{
				"name": "Did it Load File",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Do File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileLoadReturn",
					"value": {
						"value": "@activity('Do File').output.pipelineReturnValue.PipelineReturnValue",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Did it Load File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('FileLoadReturn'),0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Process Return FAIL",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ProcessFileReturn",
								"value": 0
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Add To Dims",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spS_AddToDims]"
							},
							"linkedServiceName": {
								"referenceName": "CFBDataConn",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Process Return",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Add To Dims",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ProcessFileReturn",
								"value": 1
							}
						},
						{
							"name": "Add to Fact Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spI_AddToFactTable]"
							},
							"linkedServiceName": {
								"referenceName": "CFBDataConn",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Return To Loop",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "ProcessFileReturn",
							"value": {
								"type": "Expression",
								"content": "@variables('ProcessFileReturn')"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"PipelineReturn": {
				"type": "Integer",
				"defaultValue": 1
			},
			"FileLoadReturn": {
				"type": "Integer",
				"defaultValue": 1
			},
			"ProcessFileReturn": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"folder": {
			"name": "CFB"
		},
		"annotations": []
	}
}