pipeline/MainLoad.json
{
	"name": "MainLoad",
	"properties": {
		"activities": [
			{
				"name": "Do File",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FileLoad",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Do File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineReturn",
					"value": {
						"value": "@activity('Do File').output.pipelineReturnValue.PipelineReturnValue",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"PipelineReturn": {
				"type": "Integer",
				"defaultValue": 1
			}
		},
		"folder": {
			"name": "CFB"
		},
		"annotations": []
	}
}