pipeline/Master_Control.json
{
	"name": "Master_Control",
	"properties": {
		"activities": [
			{
				"name": "Start Master Process",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spI_StartMasterPackageControl]",
						"storedProcedureParameters": {
							"PackageName": {
								"type": "String",
								"value": "CFB Load"
							},
							"StatusMessage": {
								"type": "String",
								"value": "STARTING"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CFBDatabase",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get Package ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Start Master Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MasterPipelineID",
					"value": {
						"value": "@activity('Start Master Process').output.firstRow.ID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Load FIles",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Get Package ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(variables('IsRunning'),0),  equals(variables('KillSwitch'),1))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Call Main Load",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "MainLoad",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"MasterPIPEID": {
										"value": "@variables('MasterPipelineID')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Call Main Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "IsRunning",
								"value": {
									"value": "@activity('Call Main Load').output.pipelineReturnValue.ProcessFileReturn",
									"type": "Expression"
								}
							}
						},
						{
							"name": "KillSwitch",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Call Main Load",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "KillSwitch",
								"value": 1
							}
						},
						{
							"name": "Look At Kill Switch",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Package Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "KillSwitch",
								"value": {
									"value": "@activity('Get Package Status').output.firstRow.KillSwitch",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Get Package Status",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[spS_GetMasterPackageControlStatus]",
									"storedProcedureParameters": {
										"ID": {
											"type": "Int32",
											"value": {
												"value": "@variables('MasterPipelineID')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "CFBDatabase",
									"type": "DatasetReference"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Finish Package SUCCESS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load FIles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spU_UpdateMasterPackageControl]",
					"storedProcedureParameters": {
						"ID": {
							"value": {
								"value": "@variables('MasterPipelineID')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"IsRunning": {
							"value": "false",
							"type": "Boolean"
						},
						"StatusMessage": {
							"value": "SUCCESS",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CFBDataConn",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Finish Package FAIL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load FIles",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spU_UpdateMasterPackageControl]",
					"storedProcedureParameters": {
						"ID": {
							"value": {
								"value": "@variables('MasterPipelineID')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"IsRunning": {
							"value": "false",
							"type": "Boolean"
						},
						"StatusMessage": {
							"value": "FAILED",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CFBDataConn",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"MasterPipelineID": {
				"type": "Integer",
				"defaultValue": -1
			},
			"IsRunning": {
				"type": "Integer",
				"defaultValue": 1
			},
			"KillSwitch": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"folder": {
			"name": "CFB"
		},
		"annotations": []
	}
}