pipeline/p1_orch_rec7_trigger.json
{
	"name": "p1_orch_rec7_trigger",
	"properties": {
		"activities": [
			{
				"name": "csvDataFolderMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADFCOOKBOOK_ALLFILES",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter for Backup",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "csvDataFolderMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('csvDataFolderMetadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.backup')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachCSV",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter for Backup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter for Backup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy from Data to Backup",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CSV_DataStore_AnyKey",
									"type": "DatasetReference",
									"parameters": {
										"Container": "adfcookbook",
										"Directory": ".",
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"LinkedServiceConnectionSecret": "StorageConnectionString"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CSV_DataStore_AnyKey",
									"type": "DatasetReference",
									"parameters": {
										"Container": "backkup",
										"Directory": ".",
										"FileName": ".",
										"LinkedServiceConnectionSecret": "StorageConnectionString"
									}
								}
							]
						},
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ADFCOOKBOOK_ALLFILES",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AnyBlobStorage",
										"type": "LinkedServiceReference",
										"parameters": {
											"ConnectionSecret": "StorageConnectionString"
										}
									},
									"path": "adfcookbook"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "ADFCookbook"
		},
		"annotations": []
	}
}