pipeline/p1_orch_rec3.json
{
	"name": "p1_orch_rec3",
	"properties": {
		"activities": [
			{
				"name": "csvDataFolderMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADFCOOKBOOK_ALLFILES",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "InsertMetaData",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "csvDataFolderMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertFileMetadata]",
					"storedProcedureParameters": {
						"FileName": {
							"value": {
								"value": "@activity('csvDataFolderMetadata').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"ModifiedAt": {
							"value": {
								"value": "@activity('csvDataFolderMetadata').output.lastModified",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"UpdatedAt": {
							"value": {
								"value": "@convertFromUtc(utcnow(),'Eastern Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF010123",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "ADFCookbook"
		},
		"annotations": []
	}
}