pipeline/p1_orch_rec3.json
{
	"name": "p1_orch_rec3",
	"properties": {
		"activities": [
			{
				"name": "csvDataFolderMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADFCOOKBOOK_ALLFILES",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FilteronCSV",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "csvDataFolderMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('csvDataFolderMetadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.csv');",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "ADFCookbook"
		},
		"annotations": []
	}
}