pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "FileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@activity('Get Next File').output.firstRow.FilePath",
						"type": "Expression"
					}
				}
			},
			{
				"name": "File Number",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileId",
					"value": {
						"value": "@activity('Get Next File').output.firstRow.FileID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spS_GetNextInputFile]",
						"storedProcedureParameters": {
							"MasterID": {
								"type": "Int32",
								"value": "22"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CFBDatabase",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"FileName": {
				"type": "String"
			},
			"FileId": {
				"type": "Integer",
				"defaultValue": -1
			}
		},
		"folder": {
			"name": "CFB"
		},
		"annotations": []
	}
}