pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Next File",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spS_GetNextInputFile]",
					"storedProcedureParameters": {
						"MasterID": {
							"value": "22",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CFBDataConn",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "FileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Next File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@activity('Get Next File').output.firstRow.FilePath",
						"type": "Expression"
					}
				}
			},
			{
				"name": "File Number",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Next File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileId",
					"value": {
						"value": "@activity('Get Next File').output.firstRow.FileID",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FileName": {
				"type": "String"
			},
			"FileId": {
				"type": "Integer",
				"defaultValue": -1
			}
		},
		"folder": {
			"name": "CFB"
		},
		"annotations": []
	}
}