pipeline/Process Files.json
{
	"name": "Process Files",
	"properties": {
		"activities": [
			{
				"name": "Process All Files",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Start Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(variables('KillSwitch'), less(int(variables('FileCount')),1))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Raw Data Thread 1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "BULK LOAD FILES",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"MasterPackageID": {
										"value": "@pipeline().parameters.MasterPackageID",
										"type": "Expression"
									},
									"ThreadID": "1"
								}
							}
						},
						{
							"name": "Get Package ControlStatus_INNER",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Raw Data Thread 1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[spS_GetMasterPackageControlStatus]",
									"storedProcedureParameters": {
										"ID": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.MasterPackageID",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "OPS_LIST",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Check Kill Switch",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Package ControlStatus_INNER",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "KillSwitch",
								"value": {
									"value": "@activity('Get Package ControlStatus_INNER').output.firstRow.KillSwitch",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Check File Count",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Raw Data Thread 1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[spS_GetNextOPS_File]",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "OPS_LIST",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set File Count",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Check File Count",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileCount",
								"value": {
									"value": "@string(activity('Check File Count').output.firstRow.CNT)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Raw Data Thread 2",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "BULK LOAD FILES",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ThreadID": "2"
								}
							}
						},
						{
							"name": "Get Package ControlStatus_INNER_Thread2",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Raw Data Thread 2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[spS_GetMasterPackageControlStatus]",
									"storedProcedureParameters": {
										"ID": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.MasterPackageID",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "OPS_LIST",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Check Kill Switch_Thread2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Package ControlStatus_INNER_Thread2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "KillSwitch",
								"value": {
									"value": "@activity('Get Package ControlStatus_INNER_Thread2').output.firstRow.KillSwitch",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Check File Count_Thread2",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Raw Data Thread 2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[spS_GetNextOPS_File]",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "OPS_LIST",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set File Count_Thread2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Check File Count_Thread2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileCount",
								"value": {
									"value": "@string(activity('Check File Count_Thread2').output.firstRow.CNT)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set File Count",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(int(variables('FileCount')),0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Stored procedure1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[spU_UpdateMasterPackageControl]",
											"storedProcedureParameters": {
												"ID": {
													"value": {
														"value": "@pipeline().parameters.MasterPackageID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"IsRunning": {
													"value": "true",
													"type": "Boolean"
												},
												"StatusMessage": {
													"value": "ALL DATA LOADED",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ADF010123",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "If Condition1_copy1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set File Count_Thread2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(int(variables('FileCount')),0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Stored procedure1_copy1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[spU_UpdateMasterPackageControl]",
											"storedProcedureParameters": {
												"ID": {
													"value": {
														"value": "@pipeline().parameters.MasterPackageID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"IsRunning": {
													"value": "true",
													"type": "Boolean"
												},
												"StatusMessage": {
													"value": "ALL DATA LOADED",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ADF010123",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Start Load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Kill Switch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spU_UpdateMasterPackageControl]",
					"storedProcedureParameters": {
						"ID": {
							"value": {
								"value": "@int(pipeline().parameters.MasterPackageID)",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"IsRunning": {
							"value": {
								"value": "@bool(variables('IsRunning'))",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"StatusMessage": {
							"value": "PROCESS LOADED RAW DATA",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF010123",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Package ControlStatus",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spS_GetMasterPackageControlStatus]",
						"storedProcedureParameters": {
							"ID": {
								"type": "Int32",
								"value": {
									"value": "@int(pipeline().parameters.MasterPackageID)",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OPS_LIST",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set Running Status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Package ControlStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "IsRunning",
					"value": {
						"value": "@string(activity('Get Package ControlStatus').output.firstRow.IsRunning)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Kill Switch",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Running Status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "KillSwitch",
					"value": {
						"value": "@bool(activity('Get Package ControlStatus').output.firstRow.KillSwitch)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"MasterPackageID": {
				"type": "int",
				"defaultValue": -1
			}
		},
		"variables": {
			"KillSwitch": {
				"type": "Boolean",
				"defaultValue": false
			},
			"IsRunning": {
				"type": "String",
				"defaultValue": "1"
			},
			"FileCount": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "AGGDW"
		},
		"annotations": []
	}
}