pipeline/Start Load.json
{
	"name": "Start Load",
	"properties": {
		"activities": [
			{
				"name": "Start Package",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spI_StartMasterPackageControl]",
						"storedProcedureParameters": {
							"PackageName": {
								"type": "String",
								"value": "FARM OPS LOAD"
							},
							"StatusMessage": {
								"type": "String",
								"value": "STARTING PACKAGE"
							},
							"ThreadID": {
								"type": "Int32",
								"value": "1"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OPS_LIST",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Start Package",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PackageID",
					"value": {
						"value": "@string(activity('Start Package').output.firstRow.ID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Start Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Start Load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spU_UpdateMasterPackageControl]",
					"storedProcedureParameters": {
						"ID": {
							"value": {
								"value": "@int(variables('PackageID'))",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"IsRunning": {
							"value": {
								"value": "@bool(variables('IsRunning'))",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"StatusMessage": {
							"value": "API CALLS TO GET DATA FILES",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF010123",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"PackageID": {
				"type": "String",
				"defaultValue": "-1"
			},
			"IsRunning": {
				"type": "Boolean",
				"defaultValue": "False"
			},
			"KillSwitch": {
				"type": "Boolean",
				"defaultValue": "False"
			}
		},
		"folder": {
			"name": "AGGDW"
		},
		"annotations": []
	}
}