pipeline/Start Load.json
{
	"name": "Start Load",
	"properties": {
		"activities": [
			{
				"name": "Start Package",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spI_StartMasterPackageControl]",
						"storedProcedureParameters": {
							"PackageName": {
								"type": "String",
								"value": "FARM OPS LOAD"
							},
							"StatusMessage": {
								"type": "String",
								"value": "STARTING PACKAGE"
							},
							"ThreadID": {
								"type": "Int32",
								"value": "1"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OPS_LIST",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Start Package",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PackageID",
					"value": {
						"value": "@string(activity('Start Package').output.firstRow.ID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Start Load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Kill Switch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spU_UpdateMasterPackageControl]",
					"storedProcedureParameters": {
						"ID": {
							"value": {
								"value": "@int(variables('PackageID'))",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"IsRunning": {
							"value": {
								"value": "@bool(variables('IsRunning'))",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"StatusMessage": {
							"value": "API CALLS TO GET DATA FILES",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF010123",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Package ControlStatus",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spS_GetMasterPackageControlStatus]",
						"storedProcedureParameters": {
							"ID": {
								"type": "Int32",
								"value": {
									"value": "@int(variables('PackageID'))",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OPS_LIST",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set Running Status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Package ControlStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "IsRunning",
					"value": {
						"value": "@bool(activity('Get Package ControlStatus').output.firstRow.IsRunning)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Kill Switch",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Running Status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "KillSwitch",
					"value": {
						"value": "@bool(activity('Get Package ControlStatus').output.firstRow.KillSwitch)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Start Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(variables('KillSwitch'), greater(int(variables('FileCount')),0))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Package ControlStatus_INNER",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "GET FILES FROM API",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[spS_GetMasterPackageControlStatus]",
									"storedProcedureParameters": {
										"ID": {
											"type": "Int32",
											"value": {
												"value": "@int(variables('PackageID'))",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "OPS_LIST",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Check Kill Switch",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Package ControlStatus_INNER",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "KillSwitch",
								"value": {
									"value": "@activity('Get Package ControlStatus_INNER').output.firstRow.KillSwitch",
									"type": "Expression"
								}
							}
						},
						{
							"name": "GET FILES FROM API",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Get Files From API",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"MasterPackageID": {
										"value": "@variables('PackageID')",
										"type": "Expression"
									},
									"ThreadID": "1"
								}
							}
						},
						{
							"name": "Check File Count",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "GET FILES FROM API",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[spS_GetNextFileCount]",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "OPS_LIST",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set File Count",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Check File Count",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileCount",
								"value": {
									"value": "@string(activity('Check File Count').output.firstRow.CNT)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"PackageID": {
				"type": "String",
				"defaultValue": "-1"
			},
			"IsRunning": {
				"type": "Boolean",
				"defaultValue": false
			},
			"KillSwitch": {
				"type": "Boolean",
				"defaultValue": false
			},
			"FileCount": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "AGGDW"
		},
		"annotations": []
	}
}